streamlit==1.22.0
opencv-python-headless>=4.5.5.64
cvzone==1.5.6  # Specific version known to work
Pillow>=9.3.0
numpy>=1.21.0,<1.25.0
ultralytics==8.2.0  # Ensure compatibility with Python 3.7-3.11

# Ensure Python version compatibility
# Choose a Python version that satisfies the requirements of ultralytics and other packages
python=3.7

# Install OpenGL libraries to resolve libGL.so.1 error
# These packages depend on your Linux distribution
# Uncomment and add the appropriate package based on your system's package manager
# For example, on Ubuntu or Debian-based systems:
# libgl1-mesa-glx

# For other systems, consult your package manager documentation for the equivalent package
